@charset "UTF-8";
/*
Theme Name: Raphaël Dupré
Description: Thème du site internet raphael-dupre.fr
Author: Raphaël Dupré
Author URI: https://www.raphel-dupre.fr
Template: wp-bootstrap-starter
Version: 1.0
*/
@font-face {
  font-family: "Aileron Light";
  src: url(../raphael-dupre/font/Aileron-Light.otf);
}
@font-face {
  font-family: "Aileron Light Italic";
  src: url(../raphael-dupre/font/Aileron-LightItalic.otf);
}
@font-face {
  font-family: "Aileron Regular";
  src: url(../raphael-dupre/font/Aileron-Regular.otf);
}
@font-face {
  font-family: "Aileron Bold";
  src: url(../raphael-dupre/font/Aileron-Bold.otf);
}
/* Variables */
/* Global */
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

h2 {
  font-family: "Aileron Bold";
  font-size: 40px;
  color: #444444;
}
@media (max-width: 991.98px) {
  h2 {
    font-size: 30px;
  }
}
@media (max-width: 575.98px) {
  h2 {
    font-size: 24px;
  }
}

p, ul, li, a, span, label {
  color: #9a9a9a;
  font-family: "Aileron Regular";
  letter-spacing: 0.5px;
}
@media (max-width: 767.98px) {
  p, ul, li, a, span, label {
    font-size: 14px !important;
  }
}

strong {
  font-family: "Aileron Regular";
  color: #444444;
}

.row {
  margin: 0 !important;
}

.global-btn-jaune {
  margin-top: 40px;
}
.global-btn-jaune a, .global-btn-jaune input {
  -webkit-appearance: none;
  background: -webkit-gradient(to right, #FF5F6D 0%, #FFC371 50%, #FED136 100%);
  background: linear-gradient(to right, #FF5F6D 0%, #FFC371 50%, #FED136 100%);
  background-size: 500%;
  border: none;
  border-radius: 5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  color: #FFFFFF;
  cursor: pointer;
  font-family: "Aileron Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 5rem;
  letter-spacing: 0.05em;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 20rem;
  padding: 12px 30px;
  text-decoration: none;
}
.global-btn-jaune a:hover, .global-btn-jaune input:hover {
  animation-name: gradient;
  -webkit-animation-name: gradient;
  animation-duration: 2s;
  -webkit-animation-duration: s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100%;
  }
}

.site-content {
  padding: 0 !important;
}

#primary {
  padding: 0 !important;
}

.titre-design {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
}
@media (max-width: 991.98px) {
  .titre-design {
    font-size: 30px;
  }
}
.titre-design:before {
  content: "";
  position: absolute;
  border: 2px solid #FF5F6D;
  width: 60px;
  top: -10px;
}
@media (max-width: 991.98px) {
  .titre-design:before {
    top: 0;
  }
}
.titre-design:after {
  content: ".";
  position: relative;
  color: #FF5F6D;
  padding-left: 5px;
  font-size: 50px;
}

/* MENU */
@media (max-width: 767.98px) {
  .site-content {
    padding-top: 25px !important;
  }
}

.site-header {
  background-color: transparent !important;
  box-shadow: none !important;
}
@media (max-width: 767.98px) {
  .site-header .navbar-nav {
    text-align: center !important;
  }
}
.site-header .navbar-nav .active a {
  color: #FED136 !important;
}
.site-header .navbar-nav a {
  color: #444444 !important;
  font-size: 16px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.site-header .navbar-nav a:hover {
  color: #FED136 !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  cursor: pointer;
}
.site-header .navbar-nav .menu-item:nth-child(3) a {
  padding-right: 25px !important;
}
@media (max-width: 767.98px) {
  .site-header .navbar-nav .menu-item:nth-child(3) a {
    padding-right: 15px !important;
  }
}
.site-header .navbar-nav .menu-item:last-child a {
  -webkit-appearance: none;
  background: -webkit-gradient(to right, #FF5F6D 0%, #FFC371 50%, #FED136 100%);
  background: linear-gradient(to right, #FF5F6D 0%, #FFC371 50%, #FED136 100%);
  background-size: 500%;
  border: none;
  border-radius: 5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  color: #FFFFFF !important;
  cursor: pointer;
  font-family: "Aileron Regular";
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.05em;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 8px 30px !important;
}
.site-header .navbar-nav .menu-item:last-child a:hover {
  animation-name: gradient;
  -webkit-animation-name: gradient;
  animation-duration: 2s;
  -webkit-animation-duration: s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100%;
  }
}
@media (max-width: 767.98px) {
  .site-header .navbar-nav .menu-item:last-child a {
    display: inline-block;
    margin-top: 10px;
  }
}

/* PADE D'ACCUEIL - Header */
.page-header-top-wrapper {
  margin: 120px 0;
}
@media (max-width: 767.98px) {
  .page-header-top-wrapper {
    margin: 0;
  }
}

.page-header-left {
  margin-top: 50px;
}
@media (max-width: 991.98px) {
  .page-header-left {
    margin-top: 30;
  }
}
@media (max-width: 767.98px) {
  .page-header-left {
    margin-top: 40px;
    text-align: center;
  }
}
.page-header-left h1 {
  font-family: "Aileron Bold";
  font-size: 40px;
  color: #444444;
  text-transform: uppercase;
}
@media (max-width: 991.98px) {
  .page-header-left h1 {
    font-size: 30px;
  }
}
@media (max-width: 575.98px) {
  .page-header-left h1 {
    font-size: 24px;
  }
}
.page-header-left h2 {
  font-family: "Aileron Bold";
  font-size: 72px;
  background: -webkit-linear-gradient(0deg, #FF5F6D 0%, #FFC371 75%, #FED136 100%);
  background: -moz-linear-gradient(0deg, #FF5F6D 0%, #FFC371 75%, #FED136 100%);
  background: -ms-linear-gradient(0deg, #FF5F6D 0%, #FFC371 75%, #FED136 100%);
  background: -o-linear-gradient(0deg, #FF5F6D 0%, #FFC371 75%, #FED136 100%);
  background: linear-gradient(50deg, #FF5F6D 0%, #FFC371 75%, #FED136 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  -o-text-fill-color: transparent;
  text-fill-color: transparent;
  margin: 0;
  padding: 0;
}
@media (max-width: 991.98px) {
  .page-header-left h2 {
    font-size: 52px;
  }
}
@media (max-width: 575.98px) {
  .page-header-left h2 {
    font-size: 44px;
  }
}
.page-header-left h3 {
  font-family: "Aileron Regular";
  font-size: 20px;
  color: #9a9a9a;
}
@media (max-width: 575.98px) {
  .page-header-left h3 {
    font-size: 18px;
  }
}
.page-header-left .global-btn-jaune {
  margin-top: 40px;
}
.page-header-left .global-btn-jaune a {
  font-size: 18px;
}

.page-header-right {
  text-align: center;
}

/* PADE D'ACCUEIL - Qui suis-je */
.qui-suis-je-home-wrapper {
  margin-top: 150px;
  position: relative;
  background-color: #1b1b1b;
  padding: 130px 0 100px 0;
  overflow: hidden;
  z-index: 1;
}
@media (max-width: 991.98px) {
  .qui-suis-je-home-wrapper {
    margin-top: 120px;
  }
}
.qui-suis-je-home-wrapper:before {
  content: url("https://www.raphael-dupre.fr/wp-content/themes/raphael-dupre/img/blob-pattern.png");
  position: absolute;
  bottom: -90%;
  left: -30%;
  transform: rotate(-185deg);
  z-index: -1;
}
@media (max-width: 1200px) {
  .qui-suis-je-home-wrapper:before {
    display: none;
  }
}
.qui-suis-je-home-wrapper:after {
  content: url("https://www.raphael-dupre.fr/wp-content/themes/raphael-dupre/img/blob-pattern.png");
  position: absolute;
  bottom: -90%;
  right: -30%;
  transform: rotate(-185deg);
  z-index: -1;
}
@media (max-width: 1200px) {
  .qui-suis-je-home-wrapper:after {
    display: none;
  }
}
.qui-suis-je-home-wrapper .qui-suis-je-home .qui-suis-je-left {
  margin-bottom: 40px;
}
.qui-suis-je-home-wrapper .qui-suis-je-home .qui-suis-je-left h2 {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 60px;
  color: #FFFFFF;
}
@media (max-width: 991.98px) {
  .qui-suis-je-home-wrapper .qui-suis-je-home .qui-suis-je-left h2 {
    font-size: 30px;
  }
}
.qui-suis-je-home-wrapper .qui-suis-je-home .qui-suis-je-left h2:before {
  content: "";
  position: absolute;
  border: 3px solid #FF5F6D;
  width: 60px;
  top: -10px;
}
@media (max-width: 991.98px) {
  .qui-suis-je-home-wrapper .qui-suis-je-home .qui-suis-je-left h2:before {
    top: 0;
  }
}
.qui-suis-je-home-wrapper .qui-suis-je-home .qui-suis-je-left h2:after {
  content: ".";
  position: relative;
  color: #FF5F6D;
  padding-left: 5px;
  font-size: 60px;
}

/* PADE D'ACCUEIL - Prestations */
.prestations-home-wrapper {
  margin-top: 150px;
  position: relative;
}
@media (max-width: 991.98px) {
  .prestations-home-wrapper {
    margin-top: 120px;
  }
}
.prestations-home-wrapper .prestations-home .prestations-home-titre {
  margin-bottom: 40px;
}
.prestations-home-wrapper .prestations-detail {
  text-align: center;
  padding-bottom: 30px;
}
.prestations-home-wrapper .prestations-detail img {
  border: 1px solid #FED136;
  border-radius: 35px;
  box-shadow: 0 0.3rem 1rem rgba(255, 195, 113, 0.15);
  background-color: #FFFFFF;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.prestations-home-wrapper .prestations-detail img:hover {
  box-shadow: 0 1rem 1rem rgba(255, 195, 113, 0.25);
  cursor: pointer;
}
.prestations-home-wrapper .prestations-detail h3 {
  font-size: 20px;
  margin-top: 25px;
}
.prestations-home-wrapper .prestations-detail p {
  font-size: 14px;
}
.prestations-home-wrapper .global-btn-jaune {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
}

/* PADE D'ACCUEIL - Divider Page */
.divider-element-wrapper {
  height: 5px;
  margin-top: 150px;
  background: linear-gradient(to right, #FF5F6D 0%, #FFC371 50%, #FED136 100%);
}

/* PADE D'ACCUEIL - Réalisations */
.realisations-home-wrapper {
  display: none;
  margin-top: 150px;
}
@media (max-width: 991.98px) {
  .realisations-home-wrapper {
    margin-top: 120px;
  }
}
.realisations-home-wrapper .realisations-home .realisations-home-titre {
  margin-bottom: 40px;
}
.realisations-home-wrapper .realisations-home .realisations-detail {
  text-align: center;
  margin: 15px 0;
}
.realisations-home-wrapper .global-btn-jaune {
  text-align: center;
  margin-top: 60px;
  font-size: 16px;
}

/* PADE D'ACCUEIL - Contact */
.contact-home-wrapper {
  background-color: #1b1b1b;
  margin-top: 150px;
  padding: 120px 0 100px 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
@media (max-width: 991.98px) {
  .contact-home-wrapper {
    margin-top: 100px;
  }
}
.contact-home-wrapper:before {
  content: url("https://www.raphael-dupre.fr/wp-content/themes/raphael-dupre/img/blob-pattern.png");
  position: absolute;
  bottom: -90%;
  left: -30%;
  transform: rotate(-185deg);
  z-index: -1;
}
@media (max-width: 1200px) {
  .contact-home-wrapper:before {
    display: none;
  }
}
.contact-home-wrapper:after {
  content: url("https://www.raphael-dupre.fr/wp-content/themes/raphael-dupre/img/blob-pattern.png");
  position: absolute;
  bottom: -90%;
  right: -30%;
  transform: rotate(-185deg);
  z-index: -1;
}
@media (max-width: 1200px) {
  .contact-home-wrapper:after {
    display: none;
  }
}
.contact-home-wrapper .contact-home-content h2,
.contact-home-wrapper .contact-home-rs h2 {
  color: #FFFFFF;
  margin-bottom: 20px;
}
@media (max-width: 991.98px) {
  .contact-home-wrapper .contact-home-rs {
    margin-top: 100px;
  }
}
.contact-home-wrapper .contact-home-rs a:hover {
  text-decoration: none;
}
.contact-home-wrapper .contact-home-rs img {
  width: 50px;
  cursor: pointer;
}
.contact-home-wrapper .contact-home-btn {
  margin-top: 35px;
}
.contact-home-wrapper .contact-home-btn .global-btn-jaune {
  text-align: center;
}

/* Footer */
.site-footer {
  font-family: "Aileron Regular";
  background-color: #0e0e0e !important;
  text-align: center !important;
  color: #9a9a9a !important;
  font-size: 14px !important;
  padding: 20px 0;
}
.site-footer span {
  color: #9a9a9a !important;
}
.site-footer a {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.site-footer a:hover {
  color: #FED136 !important;
  text-decoration: none;
}

/* Page contact */
.contact-page-wrapper {
  margin: 80px 0;
}
@media (max-width: 767.98px) {
  .contact-page-wrapper {
    margin: 20px 0 80px 0;
  }
}

.contact-page .contact-page-left h1 {
  margin-bottom: 20px;
}
.contact-page .contact-page-left .contact-page-rs-sup {
  margin-top: 30px;
}
.contact-page .contact-page-left .contact-page-rs-sup a:hover {
  text-decoration: none;
}
.contact-page .contact-page-right {
  padding: 0;
}
@media (max-width: 767.98px) {
  .contact-page .contact-page-right {
    padding-top: 40px;
  }
}
.contact-page .contact-page-right input {
  margin-bottom: 20px;
}
.contact-page .contact-page-right textarea {
  margin-bottom: 10px;
  height: 140px !important;
}
.contact-page .contact-page-right .wpcf7-form-control-wrap {
  margin-top: 40px;
}
.contact-page .contact-page-right .wpcf7-form-control-wrap .wpcf7-recaptcha {
  border: none !important;
  padding: 0 !important;
}
.contact-page .contact-page-right .button-container {
  margin-top: 80px;
}
.contact-page .contact-page-right .button-container input {
  height: 50px !important;
  width: 200px !important;
}

/* Page 404 */
.page404 {
  text-align: center;
  width: 100%;
  margin: 150px 0 200px 0;
}
@media (max-width: 575.98px) {
  .page404 {
    margin: 50px 0 130px 0;
  }
}
.page404 h1 {
  font-size: 200px;
}
@media (max-width: 575.98px) {
  .page404 h1 {
    font-size: 100px;
  }
}
.page404 h1:before {
  content: "";
  position: absolute;
  border: 4px solid #FF5F6D;
  width: 100px;
  top: 150px;
}
@media (max-width: 575.98px) {
  .page404 h1:before {
    top: 90px;
    border: 2px solid #FF5F6D;
  }
}
.page404 h1:after {
  content: ".";
  position: relative;
  color: #FF5F6D;
  padding-left: 5px;
  font-size: 150px;
}

/* Page de base */
.base-page-content-wrapper {
  margin: 80px 0;
}
@media (max-width: 767.98px) {
  .base-page-content-wrapper {
    margin: 20px 0 80px 0;
  }
}
.base-page-content-wrapper .base-page-content h2 {
  font-size: 30px;
  font-family: "Aileron Regular";
}
.base-page-content-wrapper .base-page-content h3 {
  font-size: 22px;
  color: #444444;
}
.base-page-content-wrapper .base-page-content a:hover {
  color: #FED136;
  text-decoration: none;
}

/* Bannière cookies */
#cn-accept-cookie {
  background-color: #FFC371 !important;
}

#cn-refuse-cookie {
  background-color: #FF5F6D !important;
}
