/*
Theme Name: Raphaël Dupré
Description: Thème du site internet raphael-dupre.fr
Author: Raphaël Dupré
Author URI: https://www.raphel-dupre.fr
Template: wp-bootstrap-starter
Version: 1.0
*/

@font-face {
    font-family: "Aileron Light";
    src: url(../raphael-dupre/font/Aileron-Light.otf);
}

@font-face {
    font-family: "Aileron Light Italic";
    src: url(../raphael-dupre/font/Aileron-LightItalic.otf);
}

@font-face {
    font-family: "Aileron Regular";
    src: url(../raphael-dupre/font/Aileron-Regular.otf);
}

@font-face {
    font-family: "Aileron Bold";
    src: url(../raphael-dupre/font/Aileron-Bold.otf);
}




/* Variables */

$a_light: 'Aileron Light';
$a_light_italic: 'Aileron Light Italic';
$a_regular: 'Aileron Regular';
$a_bold: 'Aileron Bold';

$jaune: #FED136;
$orange: #FFC371;
$rouge: #FF5F6D;
$gris_fonce: #444444;
$gris_clair: #9a9a9a;
$gris_clair_contact: #1b1b1b;
$noir: #0e0e0e;
$blanc: #FFFFFF;

@mixin transition($x...){
    -webkit-transition: $x;
    -moz-transition: $x;
    -ms-transition: $x;
    -o-transition: $x;
    transition: $x;
}

$xs: 575.98px;
$sm: 767.98px;
$md: 991.98px;
$lg: 1199.98px; 




/* Global */

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

h2 {
    font-family: $a_bold;
    font-size: 40px;
    color: $gris_fonce;
    @media (max-width: $md) { 
        font-size: 30px;
    }
    @media (max-width: $xs) { 
        font-size: 24px;
    }
}

p, ul, li, a, span, label {
    color: $gris_clair;
    font-family: $a_regular;
    @media (max-width: $sm) { 
        font-size: 14px !important;
    }
    letter-spacing: 0.5px;
}

strong{
    font-family: $a_regular;
    color: $gris_fonce;
}

.row {
    margin: 0 !important;
}

.global-btn-jaune {
    margin-top: 40px;
    a, input {
        -webkit-appearance: none; 
        background: -webkit-gradient(to right,$rouge 0%,$orange 50%,$jaune 100%);
        background: linear-gradient(to right,$rouge 0%,$orange 50%,$jaune 100%);
        background-size: 500%;
        border: none;
        border-radius: 5rem;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
        color: $blanc;
        cursor: pointer;
        font-family: $a_regular;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        height: 5rem;
        letter-spacing: .05em;
        outline: none;
        -webkit-tap-highlight-color: transparent;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        width: 20rem;
        padding: 12px 30px;
        text-decoration: none;
        &:hover {
            animation-name: gradient;
            -webkit-animation-name: gradient;
            animation-duration: 2s;
            -webkit-animation-duration: s;
            animation-iteration-count: 1;
            -webkit-animation-iteration-count: 1;
            animation-fill-mode: forwards;
            -webkit-animation-fill-mode: forwards;
        }
        @keyframes gradient {
            0% {
                background-position: 0% 50%;
            }
            100% {
                background-position: 100%;
            }
        }
    }
}

.site-content {
    padding: 0 !important;
}

#primary {
    padding: 0 !important;
}

.titre-design {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    @media (max-width: $md) { 
        font-size: 30px;
    }
    &:before {
        content: "";
        position: absolute;
        border: 2px solid $rouge;
        width: 60px;
        top: -10px;
        @media (max-width: $md) { 
            top: 0;
        }
    }
    &:after {
        content: ".";
        position: relative;
        color: $rouge;
        padding-left: 5px;
        font-size: 50px;
    }
}




/* MENU */

.site-content {
    @media (max-width: $sm) { 
        padding-top: 25px !important;
    }
}
.site-header {
    background-color: transparent !important;
    box-shadow: none !important;
    .navbar-nav {
        @media (max-width: $sm) { 
            text-align: center !important;
        }
        .active {
            a {
                color: $jaune !important;
            }
        }
        a {
            color: $gris_fonce !important;
            font-size: 16px !important;
            padding-left: 15px !important;
            padding-right: 15px !important;
            @include transition(0.5s);
            &:hover {
                color: $jaune !important;
                font-size: 16px !important;
                font-weight: 500 !important;
                cursor: pointer;
            }
        }
        .menu-item:nth-child(3) {
            a {
                padding-right: 25px !important;
                @media (max-width: $sm) { 
                    padding-right: 15px !important;
                }
            }
        }
        .menu-item:last-child {
            a {
                -webkit-appearance: none; 
                background: -webkit-gradient(to right,$rouge 0%,$orange 50%,$jaune 100%);
                background: linear-gradient(to right,$rouge 0%,$orange 50%,$jaune 100%);
                background-size: 500%;
                border: none;
                border-radius: 5rem;
                box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
                color: $blanc !important;
                cursor: pointer;
                font-family: $a_regular;
                font-size: 18px;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                letter-spacing: .05em;
                outline: none;
                -webkit-tap-highlight-color: transparent;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                padding: 8px 30px !important;
                &:hover {
                    animation-name: gradient;
                    -webkit-animation-name: gradient;
                    animation-duration: 2s;
                    -webkit-animation-duration: s;
                    animation-iteration-count: 1;
                    -webkit-animation-iteration-count: 1;
                    animation-fill-mode: forwards;
                    -webkit-animation-fill-mode: forwards;
                }
                @keyframes gradient {
                    0% {
                        background-position: 0% 50%;
                    }
                    100% {
                        background-position: 100%;
                    }
                }
                @media (max-width: $sm) { 
                    display: inline-block;
                    margin-top: 10px;
                }
            }
        }
    }
}
    



/* PADE D'ACCUEIL - Header */

.page-header-top-wrapper {
    margin: 120px 0;
    @media (max-width: $sm) { 
        margin: 0;
    }
}

.page-header-left {
    margin-top: 50px;
    @media (max-width: $md) { 
        margin-top: 30;
    }
    @media (max-width: $sm) { 
        margin-top: 40px;
        text-align: center;
    }
    h1 {
        font-family: $a_bold;
        font-size: 40px;
        color: $gris_fonce;
        text-transform: uppercase;
        @media (max-width: $md) { 
            font-size: 30px;
        }
        @media (max-width: $xs) { 
            font-size: 24px;
        }
    }
    h2 {
        font-family: $a_bold;
        font-size: 72px;
        background: -webkit-linear-gradient(0deg, $rouge 0%, $orange 75%, $jaune 100%);
        background: -moz-linear-gradient(0deg, $rouge 0%, $orange 75%, $jaune 100%);
        background: -ms-linear-gradient(0deg, $rouge 0%, $orange 75%, $jaune 100%);
        background: -o-linear-gradient(0deg, $rouge 0%, $orange 75%, $jaune 100%);
        background: linear-gradient(50deg, $rouge 0%, $orange 75%, $jaune 100%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -ms-background-clip: text;
        -o-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        -ms-text-fill-color: transparent;
        -o-text-fill-color: transparent;
        text-fill-color: transparent;
        margin: 0;
        padding: 0;
        @media (max-width: $md) { 
            font-size: 52px;
        }
        @media (max-width: $xs) { 
            font-size: 44px;
        }
    }    
    h3 {
        font-family: $a_regular;
        font-size: 20px;
        color: $gris_clair;
        @media (max-width: $xs) { 
            font-size: 18px;
        }
    }
    .global-btn-jaune {
        margin-top: 40px;
        a {
            font-size: 18px;
        }
    }
}

.page-header-right {
    text-align: center;
}




/* PADE D'ACCUEIL - Qui suis-je */

.qui-suis-je-home-wrapper {
    margin-top: 150px;
    position: relative;
    background-color: $gris_clair_contact;
    padding: 130px 0 100px 0;
    overflow: hidden;
    z-index: 1;
    @media (max-width: $md) { 
        margin-top: 120px;
    }
    &:before {
        content: url("https://www.raphael-dupre.fr/wp-content/themes/raphael-dupre/img/blob-pattern.png");
        position: absolute;
        bottom: -90%;
        left: -30%;
        transform: rotate(-185deg);
        z-index: -1;
        @media (max-width: 1200px) { 
            display: none;
        }
    }
    &:after {
        content: url("https://www.raphael-dupre.fr/wp-content/themes/raphael-dupre/img/blob-pattern.png");
        position: absolute;
        bottom: -90%;
        right: -30%;
        transform: rotate(-185deg);
        z-index: -1;
        @media (max-width: 1200px) { 
            display: none;
        }
    }
    .qui-suis-je-home {
        .qui-suis-je-left {
            margin-bottom: 40px;
            h2 {
                position: relative;
                width: 100%;
                padding: 0;
                margin: 0;
                font-size: 60px;
                color: $blanc;
                @media (max-width: $md) { 
                    font-size: 30px;
                }
                &:before {
                    content: "";
                    position: absolute;
                    border: 3px solid $rouge;
                    width: 60px;
                    top: -10px;
                    @media (max-width: $md) { 
                        top: 0;
                    }
                }
                &:after {
                    content: ".";
                    position: relative;
                    color: $rouge;
                    padding-left: 5px;
                    font-size: 60px;
                }
            }
        }
    }
}




/* PADE D'ACCUEIL - Prestations */

.prestations-home-wrapper {
    margin-top: 150px;
    position: relative;
    @media (max-width: $md) { 
        margin-top: 120px;
    }
    .prestations-home {
        .prestations-home-titre {
            margin-bottom: 40px;
        }
    }
    .prestations-detail {
        text-align: center;
        padding-bottom: 30px;
        img {
            border: 1px solid $jaune;
            border-radius: 35px;
            box-shadow: 0 0.3rem 1rem rgba(255, 195, 113,.15);
            background-color: $blanc;
            @include transition(0.5s);
            &:hover {
                box-shadow: 0 1rem 1rem rgba(255, 195, 113,.25);
                cursor: pointer;
            }
        }
        h3 {
            font-size: 20px;
            margin-top: 25px;
        }
        p {
            font-size: 14px;
        }
    }
    .global-btn-jaune {
        text-align: center;
        margin-top: 20px;
        font-size: 16px;
    }
}




/* PADE D'ACCUEIL - Divider Page */

.divider-element-wrapper {
    // margin-top: 150px;
    // position: relative;
    // background-color: $gris_clair_contact;
    // padding: 80px;
    // text-align: center;
    // @media (max-width: $md) { 
    //     margin-top: 120px;
    // }
    // .global-btn-jaune {
    //     margin: 0;
    // }
    height: 5px;
    margin-top: 150px;
    background: linear-gradient(to right, #FF5F6D 0%, #FFC371 50%, #FED136 100%);
}




/* PADE D'ACCUEIL - Réalisations */

.realisations-home-wrapper {
    display: none;
    margin-top: 150px;
    @media (max-width: $md) { 
        margin-top: 120px;
    }
    .realisations-home {
        .realisations-home-titre {
            margin-bottom: 40px;
        }
        .realisations-detail {
            text-align: center;
            margin: 15px 0;
        }
    }
    .global-btn-jaune {
        text-align: center;
        margin-top: 60px;
        font-size: 16px;
    }
}




/* PADE D'ACCUEIL - Contact */

.contact-home-wrapper {
    background-color: $gris_clair_contact;
    margin-top: 150px;
    padding: 120px 0 100px 0;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
    @media (max-width: $md) { 
        margin-top: 100px;
    }
    &:before {
        content: url("https://www.raphael-dupre.fr/wp-content/themes/raphael-dupre/img/blob-pattern.png");
        position: absolute;
        bottom: -90%;
        left: -30%;
        transform: rotate(-185deg);
        z-index: -1;
        @media (max-width: 1200px) { 
            display: none;
        }
    }
    &:after {
        content: url("https://www.raphael-dupre.fr/wp-content/themes/raphael-dupre/img/blob-pattern.png");
        position: absolute;
        bottom: -90%;
        right: -30%;
        transform: rotate(-185deg);
        z-index: -1;
        @media (max-width: 1200px) { 
            display: none;
        }
    }
    .contact-home-content,
    .contact-home-rs {
        h2 {
            color: $blanc;
            margin-bottom: 20px;
        }
    }
    .contact-home-rs {
        @media (max-width: $md) { 
            margin-top: 100px;
        }
        a {
            &:hover {
                text-decoration: none;
            }
        }
        img {
            width: 50px;
            cursor: pointer;
        }
    }
    .contact-home-btn {
        margin-top: 35px;
        .global-btn-jaune {
            text-align: center;
        }
    }
}




/* Footer */

.site-footer {
    font-family: $a_regular;
    background-color: $noir !important;
    text-align: center !important;
    color: $gris_clair !important;
    font-size: 14px !important;
    padding: 20px 0;
    span {
        color: $gris_clair !important;
    }
    a {
        @include transition(0.5s);
        &:hover {
            color: $jaune !important;
            text-decoration: none;
        }
    }
}




/* Page contact */

.contact-page-wrapper {
    margin: 80px 0;
    @media (max-width: $sm) { 
        margin: 20px 0 80px 0;
    }
}

.contact-page {
    .contact-page-left {
        h1 {
            margin-bottom: 20px;
        }
        .contact-page-rs-sup {
            margin-top: 30px;
            a {
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
    .contact-page-right {
        padding: 0;
        @media (max-width: $sm) { 
            padding-top: 40px;
        }
        input {
            margin-bottom: 20px;
        }
        textarea {
            margin-bottom: 10px;
            height: 140px !important;
        }
        .wpcf7-form-control-wrap {
            margin-top: 40px;
            .wpcf7-recaptcha {
                border: none !important;
                padding: 0 !important;
            }
        }
        .button-container {
            margin-top: 80px;
            input {
                height: 50px !important;
                width: 200px !important;
            }
        }
    }
}




/* Page 404 */

.page404 {
    text-align: center;
    width: 100%;
    margin: 150px 0 200px 0;
    @media (max-width: $xs) { 
        margin: 50px 0 130px 0;
    }
    h1 {
        font-size: 200px;
        @media (max-width: $xs) { 
            font-size: 100px;
        }
        &:before {
            content: "";
            position: absolute;
            border: 4px solid $rouge;
            width: 100px;
            top: 150px;
            @media (max-width: $xs) { 
                top: 90px;
                border: 2px solid $rouge;
            }
        }
        &:after {
            content: ".";
            position: relative;
            color: $rouge;
            padding-left: 5px;
            font-size: 150px;
        }
    }
}




/* Page de base */

.base-page-content-wrapper {
    margin: 80px 0;
    @media (max-width: $sm) { 
        margin: 20px 0 80px 0;
    }
    .base-page-content {
        h2 {
            font-size: 30px;
            font-family: $a_regular;
        }
        h3 {
            font-size: 22px;
            color: $gris_fonce;
        }
        a {
            &:hover {
                color: $jaune;
                text-decoration: none;
            }
        }
    }
}




/* Bannière cookies */

#cn-accept-cookie {
    background-color: $orange !important;
}
#cn-refuse-cookie {
    background-color: $rouge !important;
} 